<!DOCTYPE html>
<html>
  <head>
    <title>Crime Seasonality Insights</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript>
      <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>
    <style>
      .sections-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .sections-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 5rem;
      }

      .sections-container section {
        flex: 1;
      }

      .button-container {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 1rem;
        width: auto;
        height: 80px;
      }
    </style>
  </head>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div class="inner">
          <!-- Logo -->
          <a href="/" class="logo">
            <span class="symbol"><img src="images/logo.svg" alt="" /></span
            ><span class="title">Crime Trends Tracker</span>
          </a>

          <!-- Nav -->
          <nav>
            <ul>
              <li><a href="#menu">Menu</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <h2>Menu</h2>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/CrimeTrendPercentages">Statewise Crime Dynamics</a></li>
          <li><a href="/TrendAnalysis">Diurnal Crime Trends</a></li>
          <li><a href="/SectorAnalysis">Population Segment Crime Study</a></li>
          <li><a href="/Correlation">Crime Seasonality Insights</a></li>
          <li><a href="/Statistics">Quarterly Offense Age Demographics</a></li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <div class="inner">
          <h1>Crime Seasonality Insights</h1>
          <span class="image main"><img src="images/pic13.jpg" alt="" /></span>
          <form method="post" action="/Correlation" style="overflow: hidden">
            <div class="sections-wrapper">
              <div class="sections-container">
                <!-- Section 1 -->
                <section>
                  <h2>Section 1</h2>
                  <div class="form-group">
                    <input
                      type="radio"
                      id="option1"
                      value="victim.age"
                      name="victim_age1"
                    />
                    <label for="option1">Victim Age</label>
                  </div>
                  <div class="form-group">
                    <input
                      type="radio"
                      id="option2"
                      value="arrestee.age"
                      name="offender_age1"
                    />
                    <label for="option2">Offender Age</label>
                  </div>
                  <div class="form-group">
                    <input
                      type="radio"
                      id="option3"
                      value="incident.hour_of"
                      name="hour1"
                    />
                    <label for="option3">Hour</label>
                  </div>
                </section>

                <!-- Section 2 -->
                <section>
                  <h2>Section 2</h2>
                  <div class="form-group">
                    <input
                      type="radio"
                      id="option4"
                      value="victim.age"
                      name="victim_age2"
                    />
                    <label for="option4">Victim Age</label>
                  </div>
                  <div class="form-group">
                    <input
                      type="radio"
                      id="option5"
                      value="arrestee.age"
                      name="offender_age2"
                    />
                    <label for="option5">Offender Age</label>
                  </div>
                  <div class="form-group">
                    <input
                      type="radio"
                      id="option6"
                      value="incident.hour_of"
                      name="hour2"
                    />
                    <label for="option6">Hour</label>
                  </div>
                </section>

                <!-- Section 3 -->
                <section style="display: none">
                  <h2>Section 3</h2>
                  <div class="form-group">
                    <input
                      type="radio"
                      id="option7"
                      name="section3"
                      value="option7"
                      name="age"
                    />
                    <label for="option7">Age</label>
                  </div>
                  <div class="form-group">
                    <input
                      type="radio"
                      id="option8"
                      name="section3"
                      value="option8"
                      name="sex"
                    />
                    <label for="option8">Sex</label>
                  </div>
                  <div class="form-group">
                    <input
                      type="radio"
                      id="option9"
                      name="section3"
                      value="option9"
                      name="race"
                    />
                    <label for="option9">Race</label>
                  </div>
                </section>
              </div>
              <!-- Buttons -->
              <div class="button-container">
                <div class="button-container">
                  <button type="submit" class="btn btn-primary">
                    Fetch Data
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    onclick="resetForm()"
                  >
                    Reset
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <% if (x != 0 && y != 0) { %>
      <div>
        <canvas
          id="myChart"
          style="
            max-height: 650px;
            max-width: 650px;
            margin: auto;
            text-align: center;
            height: 650px;
            width: 650px;
          "
        ></canvas>
      </div>
      <% } %>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <section>
            <h2>Get in touch</h2>
            <form method="post" action="#">
              <div class="fields">
                <div class="field half">
                  <input type="text" name="name" id="name" placeholder="Name" />
                </div>
                <div class="field half">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email"
                  />
                </div>
                <div class="field">
                  <textarea
                    name="message"
                    id="message"
                    placeholder="Message"
                  ></textarea>
                </div>
              </div>
              <ul class="actions">
                <li><input type="submit" value="Send" class="primary" /></li>
              </ul>
            </form>
          </section>
          <section>
            <h2>Follow</h2>
            <ul class="icons">
              <li>
                <a
                  href="https://twitter.com/UF"
                  class="icon brands style2 fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.facebook.com/uflorida"
                  class="icon brands style2 fa-facebook-f"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.instagram.com/uflorida/"
                  class="icon brands style2 fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <!-- <li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li> -->
              <!-- <li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li> -->
              <!-- <li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li> -->
              <!-- <li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li> -->
              <li>
                <a
                  href="mailto:info@ufonline.ufl.edu"
                  class="icon solid style2 fa-envelope"
                  ><span class="label">Email</span></a
                >
              </li>
            </ul>
          </section>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      function resetForm() {
        const radioButtons = document.querySelectorAll('input[type="radio"]');
        radioButtons.forEach((radio) => {
          radio.checked = false;
        });
      }

      const ctx = document.getElementById("myChart");

      var xPoints = "<%- x %>";
      xPoints = xPoints.split(",");
      var yPoints = "<%- y %>";
      yPoints = yPoints.split(",");

      const data = [];

      for (let i = 0; i < xPoints.length; i++) {
        data.push({ x: xPoints[i], y: yPoints[i] });
      }

      // new Chart(ctx, {
      //   type: "scatter",
      //   data: {
      //     // labels: labels.split(","),
      //     datasets: [
      //       {
      //         label: "Number of Crimes",
      //         data: data,
      //         backgroundColor: "rgb(255, 99, 132)",
      //         options: {
      //           scales: {
      //             y: {
      //               type: "linear",
      //               display: true,
      //               position: "left",
      //               title: { text: "<%- yLabel %>", display: true },
      //             },
      //             x: {
      //               type: "linear",
      //               display: true,
      //               position: "bottom",
      //               title: { text: "<%- xLabel %>", display: true },
      //             },
      //           },
      //         },
      //       },
      //     ],
      //   },
      // });

      new Chart(ctx, {
        type: "scatter",
        data: {
          // labels: labels.split(","),
          datasets: [
            {
              label: "Number of Crimes",
              data: data,
              backgroundColor: "rgb(255, 99, 132)",
            },
          ],
        },
        options: {
          scales: {
            y: {
              type: "linear",
              display: true,
              position: "left",
            },
            x: {
              type: "linear",
              display: true,
              position: "bottom",
            },
          },
          plugins: {
            title: {
              display: false,
              text: "Scatter Plot",
            },
            subtitle: {
              display: true,
              text: "X: <%- xLabel %>, Y: <%- yLabel %>",
            },
          },
        },
      });
    </script>
  </body>
</html>
