<!DOCTYPE html>
<html>
  <head>
    <title>Statewise Crime Dynamics</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript>
      <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>
    <style>
      .form-container {
        text-align: center;
      }

      .form-container input,
      .form-container select {
        display: block;
        margin: 0 auto;
        margin-bottom: 5%;
      }

      .form-container .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }

      .form-container .button-container button {
        box-sizing: border-box;
        width: 48%;
        height: 80px;
      }
    </style>
  </head>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div class="inner">
          <!-- Logo -->
          <a href="/" class="logo">
            <span class="symbol"><img src="images/logo.svg" alt="" /></span
            ><span class="title">Crime Trends Tracker</span>
          </a>

          <!-- Nav -->
          <nav>
            <ul>
              <li><a href="#menu">Menu</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <h2>Menu</h2>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/CrimeTrendPercentages">Statewise Crime Dynamics</a></li>
          <li><a href="/TrendAnalysis">Diurnal Crime Trends</a></li>
          <li><a href="/SectorAnalysis">Population Segment Crime Study</a></li>
          <li><a href="/Correlation">Crime Seasonality Insights</a></li>
          <li><a href="/Statistics">Quarterly Offense Age Demographics</a></li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <div class="inner">
          <h1>Statewise Crime Dynamics</h1>
          <span class="image main"><img src="images/pic13.jpg" alt="" /></span>

          <!-- Form container -->
          <div class="form-container">
            <form method="post" action="/CrimeTrendPercentages">
              <!-- Location selector dropdown -->
              <label for="location" style="font-size: larger"
                >Select State 1:</label
              >
              <select
                class="form-control"
                id="location"
                style="width: 50%"
                name="location_1"
              >
                <option>Select State</option>
                <option>California-CA</option>
                <option>Florida-FL</option>
                <option>Hawaii-HI</option>
                <option>New York-NY</option>
                <option>Texas-TX</option>
              </select>

              <label for="location" style="font-size: larger"
                >Select State 2 (Please do not select the same state):</label
              >
              <select
                class="form-control"
                id="location"
                style="width: 50%"
                name="location_2"
              >
                <option>Select State</option>
                <option>California-CA</option>
                <option>Florida-FL</option>
                <option>Hawaii-HI</option>
                <option>New York-NY</option>
                <option>Texas-TX</option>
              </select>

              <!-- Crime Type dropdown -->
              <label for="crime_category" style="font-size: larger"
                >Select Crime Category:</label
              >
              <select
                class="form-control"
                id="crime_category"
                style="width: 50%"
                name="crime_category"
              >
                <option>Select Crime Category</option>
                <option>Drug/Narcotic Offenses</option>
                <option>Extortion/Blackmail</option>
                <option>Homicide Offenses</option>
                <option>Sex Offenses</option>
                <option>Weapon Law Violations</option>
              </select>

              <!-- Buttons -->
              <div class="button-container">
                <button type="submit" class="btn btn-primary">
                  Fetch Data
                </button>
                <button
                  type="submit"
                  class="btn btn-secondary"
                  onclick="resetForm()"
                >
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <% if (changes_state_1 != "" && changes_state_2 != "" && location_1 != ""
      && location_2 != "" && category != "") { %>
      <div>
        <canvas
          id="myChart"
          style="
            max-height: 650px;
            max-width: 650px;
            margin: auto;
            text-align: center;
            height: 650px;
            width: 650px;
          "
        ></canvas>
      </div>
      <% } %>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <section>
            <h2>Get in touch</h2>
            <form method="post" action="#">
              <div class="fields">
                <div class="field half">
                  <input type="text" name="name" id="name" placeholder="Name" />
                </div>
                <div class="field half">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email"
                  />
                </div>
                <div class="field">
                  <textarea
                    name="message"
                    id="message"
                    placeholder="Message"
                  ></textarea>
                </div>
              </div>
              <ul class="actions">
                <li><input type="submit" value="Send" class="primary" /></li>
              </ul>
            </form>
          </section>
          <section>
            <h2>Follow</h2>
            <ul class="icons">
              <li>
                <a
                  href="https://twitter.com/UF"
                  class="icon brands style2 fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.facebook.com/uflorida"
                  class="icon brands style2 fa-facebook-f"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.instagram.com/uflorida/"
                  class="icon brands style2 fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <!-- <li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li> -->
              <!-- <li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li> -->
              <!-- <li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li> -->
              <!-- <li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li> -->
              <li>
                <a
                  href="mailto:info@ufonline.ufl.edu"
                  class="icon solid style2 fa-envelope"
                  ><span class="label">Email</span></a
                >
              </li>
            </ul>
          </section>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script type="text/javascript">
      function resetForm() {
        document.getElementById("location").selectedIndex = 0;
        document.getElementById("date").value = "";
        document.getElementById("time").value = "";
      }

      const ctx = document.getElementById("myChart");

      const changes_state_1 = "<%- changes_state_1 %>";
      const changes_state_2 = "<%- changes_state_2 %>";
      const location_1 = "<%- location_1 %>";
      const location_2 = "<%- location_2 %>";
      const category = "<%- category %>";

      new Chart(ctx, {
        type: "line",
        data: {
          labels: [
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sept",
            "Oct",
            "Nov",
            "Dec",
          ],
          datasets: [
            {
              label: location_1,
              data: changes_state_1.split(","),
              borderColor: "red",
              hoverOffset: 4,
            },
            {
              label: location_2,
              data: changes_state_2.split(","),
              borderColor: "blue",
              hoverOffset: 4,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    </script>
  </body>
</html>
